language: python
python:
    - '3.3'
    - '3.4'
    - '3.5'
    - nightly
install:
    - pip install python-coveralls pytest-cov
    - pip install .
script:
    - cd tests
    - py.test . --cov nonstdlib
after_success:
    - coveralls
